body{
    font-family: Arial, sans-serif;
    background-color: rgb(224, 221, 222);
}
h3{
    color: blue;
}
form{
    background-color: rgb(187, 227, 227);
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(102, 29, 185);
}
#TextBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(197, 209, 25);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(125, 92, 203);
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(14, 188, 201);

}
#result{
    font-size: 30px;
    font-weight: bold;
}

